# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/
pyproject.toml
# IDE
.vscode/

# Secrets / Kube
*.kubeconfig
kubeconfig
.env
secrets/

# Build
*.tar
*.rar
dist/
build/